<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

<!--    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>-->
<!--    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO"/>-->
<!--    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO"/>-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <!--    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"/>-->

    <uses-permission android:name="android.permission.USE_EXACT_ALARM"/>
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"/>
<!--    <uses-permission android:name="android.permission.SET_ALARM"/>-->
    <application
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/app_icon_setwork"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_icon_setwork_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Justdo"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="userPortrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <provider android:name=".common.data.provider.TodoProvider"
            android:exported="true"
            android:authorities="com.designlife.justdo.common.data.provider"
            android:permission="com.designlife.justdo.common.data.provider">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
                <action android:name="com.designlife.justdo.common.data.provider.SETWORK_TODO_ACTION_1"/>
            </intent-filter>
        </provider>
    </application>

</manifest>